.DS_Store
.gradle
.settings
.idea
*.iml


# Directories we don't want
bin
gen
build
android/build

# Miscellaneous build properties
local.properties
gradle.properties
bintray.properties

# ignore vim swap files
*.sw?
